@model IEnumerable<SeaKids.Models.Curiosidade>

@{
    ViewData["Title"] = "Index";
}

    <div class="container1">
        <h1>CURIOSIDADES</h1>
        <br />
        <p>
            <a class="btn btn-primary" asp-action="Create">Adicionar</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Titulo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Imagem)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Texto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Imagem)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Texto)
                        </td>
                        <td class="table-actions">
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

